<section id="gigs">
  <h2>{title}</h2>
  <div class="flex flex-wrap gap-4">
    <article>
      <h3 class="mt-2">BarBar 2025</h3>
      <a
        href="https://maps.app.goo.gl/EL2PPqEsbFzGcgMo6"
        class="flex gap-2 items-center mt-1 w-fit"
      >
        <i class="fa-solid fa-location-dot font-size-1-2"></i>
        <address class="font-size-1-2">BarBar Music Club Ostrava</address>
      </a>
      <div class="flex gap-2 items-center w-fit">
        <i class="fa-solid fa-calendar-days font-size-1-2"></i>
        <time datetime="2025-05-23" class="font-size-1-2">23. 5. 2025</time>
      </div>
      <a
        class="flex gap-2 items-center font-size-1-2 w-fit"
        href="https://www.facebook.com/events/643042062092026"
      >
        <i class="fa-solid fa-globe font-size-1-2"></i>
        Stránky akce</a
      >
    </article>
    <!-- <article>
      <h3 class="mt-2">Pivní slavnosti</h3>
      <a
        href="https://mapy.cz/s/mozadefehe"
        class="flex gap-2 items-center mt-1 w-fit"
      >
        <i class="fa-solid fa-location-dot font-size-1-2"></i>
        <address class="font-size-1-2">Hobbypark Bohumín</address>
      </a>
      <div class="flex gap-2 items-center w-fit">
        <i class="fa-solid fa-calendar-days font-size-1-2"></i>
        <time datetime="2024-08-17" class="font-size-1-2">17. Srpna 16:00</time>
      </div>
      <a
        class="flex gap-2 items-center font-size-1-2 w-fit"
        href="https://www.mesto-bohumin.cz/cz/volny-cas/co-kdy-kde/26457-pivni-slavnosti.html"
      >
        <i class="fa-solid fa-globe font-size-1-2"></i>
        Stránky akce</a
      >
    </article> -->
  </div>
</section>
