<section id="news">
  <h2>{title}</h2>
  <article>
    <div class="flex gap-2 items-center">
      <h3>EP 1 je venku!</h3>
      <a
        href="https://open.spotify.com/album/396bzEWqxXSNfvxRifXP2w?si=xRZyToxPQO62X4so_JR8SA"
      >
        <i class="fa-brands fa-spotify"></i>
      </a>
    </div>
    <p class="font-size-1-2">
      Nové EP je na Spotify, Apple Music, Deezer a dalších.
    </p>
    <div class="flex gap-4">
      <div class="flex flex--col gap-1 mt-2">
        <a
          class="link--decorative"
          href="https://open.spotify.com/track/7HVksKxBfvSB7vUr4z1ATI?si=a3070040f0dc49a5"
          >Feelin' Fine</a
        >
        <a
          class="link--decorative"
          href="https://open.spotify.com/track/4t3lV0GHR0GxovBa56GbiR?si=a685780770d24730"
          >13'</a
        >
        <a
          class="link--decorative"
          href="https://open.spotify.com/track/4u8kdvsqEBi0CHZAx1qxA9?si=f5c4f378667640e7"
          >Whale</a
        >
        <a
          class="link--decorative"
          href="https://open.spotify.com/track/3Tn57iAXXyssMBHjxLEno4?si=a001d77023fe4927"
          >Ghost</a
        >
        <a
          class="link--decorative"
          href="https://open.spotify.com/track/628MChstFVb5OrsO51N7w1?si=27af1b433ade4083"
          >Escape from Shadows</a
        >
      </div>
    </div>
  </article>
</section>
