<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.png" />
    <link rel="stylesheet" href="styles.css" />
    <title>f i e l d .</title>
  </head>
  <body>
    <header>
      <h1 class="heading--header">field.</h1>
      <nav>
        <ul class="navigation">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <img src="/homeBackground.jpg" alt="picture_of_a_band" />
      <!-- <div class="home_background"></div> -->
      <about />
      <contact />
    </main>
    <footer>Copyright</footer>
  </body>
</html>
